#yolo
YOLO/images/

#attention
attention/kaggle
attention/checkpoints
attention/tokenizers/tokenizer_src.json
attention/tokenizers/tokenizer_tgt.json

#sam2
Sam2/data
sav_val.tar

#rest
.venv
.python-version
.DS_Store
